/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05.04.2019, 13:59:26
    Author     : gabri
*/

* {
    -color-text-light: white;
    -color-text-dark: black;
    -color-text-success: green;
    -color-text-error: red;
}

#AnchorPane{
    -fx-font-family: Arial;
}
.button{
    -fx-background-color: #4CAF50;
    -fx-border: none;
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
}

.text-field{
    -fx-border-color: #4CAF50;
}

.text-field.error{
    -fx-border-color: -color-text-error;
    -fx-text-box-border: -color-text-error;
    -fx-focus-color: -color-text-error;
    -fx-border-width: 1px;
}

.light-text{
    -fx-text-fill: white;
}

.background-image{
    -fx-background-image: url("/images/Bg2.jpg");
}