/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
#AnchorPane{
    -fx-background-color: #666;
    -fx-background-image: url("/roulette/bg.jpg"); 
}
.label{
    -fx-effect: dropshadow( three-pass-box , rgba(100,100,100,100) , 4, 0 , 4 , 1 );
}

#mainpane{
    -fx-background-color: #ffffff;
    -fx-background-image: url("/roulette/wood_frame_1.png");    
    -fx-background-repeat:stretch;
    -fx-background-size:1245 466;
}
#geradezahl{
    -fx-background-color:black;
    -fx-text-fill:#ffffff;
    -fx-font-size:20;
}
#ungeradezahl{
    -fx-background-color:red;
    -fx-text-fill:#ffffff;
    -fx-font-size:20;
}
#greenbtn{
    -fx-background-color:green;
    -fx-text-fill:#ffffff;
    -fx-font-size:20;
}